{% extends "app/base_site.html" %}

{% block title %} Page 500 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block sidebar %}{% endblock sidebar %}

{% block top_navigation %}{% endblock top_navigation %}

{% block content %}
<div class="vertical-center">
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <img src="/static/images/logo.png" alt="logo" width="150" class="logo-error-page">
        <h1 class="error-number secondary-color-text">500</h1>
        <h2 class="text-info">Erro interno</h2>
        <p class="text-info">Ocorreu um erro ao retornar a sua requisição, se esse erro persistir entre em contato com o administrador do sistema.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
